.dashboard-container {
    display: flex;
    height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.information h1 {
    font-size: 3em;
}

.information p {
    font-size: 1.7vh;
}

.information a {
    color: #3498db;
    text-decoration: none;
}

.information a:hover {
    text-decoration: underline;
}

.service-roles label {
    display: block;
    margin-bottom: 10px;
}

.service-roles select {
    width: 100%;
    padding: 1vh;
    border: 1px solid #000000;
    border-radius: 5px;
}
