.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .profile-container {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }

  
  .profile-details {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }
  
  .profile-info {
    width: 60%;
  }
  
  .score {
    display: flex;
    align-items: center;
  }
  
  .compare {
    margin-right: 10px;
    color: green;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .graph{
    max-width: 90%;
    align-items: center;
  }
  

.info-table {
  width: 50%;
  margin-left: 2em;
}

.information h1 {
  font-size: 10em;
}