.create-account-form {
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    background-color: #f2f2f2;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.create-account-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
}

.create-account-form select, 
.create-account-form input {
    margin: 1em;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    border: 1px solid #ccc;
}

.create-account-form .create-button, .create-account-form .cancel-button {
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 1em;
    width: 40%;
}

.create-account-form .create-button {
    background-color: #4CAF50;
    color: white;
}

.create-account-form .cancel-button {
    background-color: #f44336;
    color: white;
}

.create-account-form h1 {
    text-align: center;
}

.create-account-form .button-align-div {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
