.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 35%;
  height: auto;
  max-width: 475px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: grey;
}

.close-modal:hover {
  color: black;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.dropzone-container {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  height: 10rem;
}

.dropzone-container:hover {
  border: 2px dashed #007bffa7;
}

.dropzone-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.drag-and-drop {
  font-weight: bold;
  color: rgba(33, 33, 33, 0.974);;
  margin: 20px 0 5px;
}

.accepted-type {
  font-size: 0.8em;
  color: #666;
}

.file-list-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.file-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.file-icon-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.remove-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.remove-button:hover::before {
  transform: scale(1);
}

.remove-button:hover {
  background-color: transparent;
}

.remove-button svg {
  position: relative;
  z-index: 1;
}

.message {
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}

.message.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.import-modal-upload-button {
  background-color: #007bff;
  color: white;
}

.import-modal-upload-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.import-modal-close-button {
  background-color: #6c757d;
  color: white;
}