.DataEntry-page {
display: flex;
height: 100vh;

}

.container {
display: flex;
flex-direction: column;

}

h1 {
    text-decoration: underline;
    width: 100%;
}

.main {
    flex-grow: 1;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    margin-left: 2em;
}

.create-new {
    width: 100%;
    font-size: x-large;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

#create-new-select {
    margin-left: 0.5em;
    padding: 0.5em;
    font-size: large;
    position: relative;
    bottom: 0.3em;
}

.course-form, .service-role-form {
    padding: 1em;
    font-size: large;
    width: 50em;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    border: 1px solid var(--black);
    border-radius: 0.5em;
    background-color: var(--darkerGrey);
    align-items: flex-start;
}

.formInput {
    margin-bottom: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.formInput input, .formInput select {
    margin-left: 0.5em;
    position: relative;
    bottom:0.1em;
    height: 1.75em;
    border: 1px solid var(--darkestGrey);
    border-radius: 0.3em;
}

.departmentInput {
    margin-top: 0.5em;
    margin-bottom: 0.9em;
}

.titleInput input {
    width: 50%;
}

.coursecodeInput {
    margin-left: 1em;
    position: relative;
    bottom:0.1em;
}

.coursecodeInput input {
    width: 25%;
}

#course-description, #service-role-description {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    width: 96%;
    height: 8em;
    border-radius: 0.5em;
    padding: 0.5em;
    font-family: inherit;
    resize:vertical;
}


.assign-button {
    background-color: var(--darkestishGrey);
    border: 1px solid var(--black);
    color: var(--black);
    
    width: 18em;
    text-align: left;
    font-weight: normal;
    font-size: large;
    transition: background-color 0.1s;
    margin: 1em 0 1em 0;
}

.assign-button:hover {
    background-color: var(--darkestGrey);
}

.assign-button:hover > .plus {
    background-color: var(--darkestestGrey);
}

.plus {
    border: 1px solid var(--black);
    padding: 0.5em 0.75em 0.5em 0.75em;
    border-radius: 50%;
    margin-right: 0.5em;
    background-color: var(--darkestGrey);
    transition: background-color 0.1s;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.finish-button {
    color: var(--black);
    font-size: x-large;
    background-color: var(--green);
    align-self: center;
    padding: 0.75em 3em 0.75em 3em;
    transition: background-color 0.1s;
}

.finish-button:hover {
    background-color: var(--darkGreen);
}
