.dp-container {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  
}

.main {
  flex-grow: 1;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    margin-left: 2em;
}


.performanceD-title {
  align-self: center;
  text-align: center;
  font-size: 1em;
  width: 90%;
}

.performanceD-title h1 {
  font-size: 1.7em;
  text-align: center;
  
}


.division-top-table, .bottom-sectin, .division-mid-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;

}

.division {
  padding: 1em;
  width: 60%;
  border: 3px solid #ffffff;
  border-radius: 1em;
  margin-right: 1em;
  background-color: #ffffff;
}
