.dashboard {
    display: flex;
    min-height: 100vh;
    background-color: #f0f2f5;
    color: #333333;
}

.password-change-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

.password-change-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555555;
}

.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.form-group input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Space for the visibility toggle button */
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #333333;
    font-size: 16px;
}

.form-group input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.form-group input.error {
    border-color: #ff4d4f;
}

.toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-password svg {
    width: 20px;
    height: 20px;
    color: #777777;
}

.toggle-password:hover svg {
    color: #333333;
    background-color: white;
}

.toggle-password:focus {
    outline: none;
}

.toggle-password:focus svg {
    color: #4a90e2;
}

.error-message {
    color: #ff4d4f;
    font-size: 14px;
    margin-top: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button {
    width: 50%;
    padding: 12px;
    background-color: #002145;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #02366d;
}