.forgot-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .forgot-header {
    width: 100%;
    padding: 20px;
    background-color: #002244;
    color: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .logo, nav a {
    padding: 0 20px;
    color: white;
    text-decoration: none;
  }
  
  .forgot-form-container {
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  