.login-container {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Poppins');
    padding: 2em 3em 0 3em;
  }
  
  .login-header {
    
    display: flex;
    justify-content: space-between;
    height: 5em;
    background-color: var(--sidebarColor);
    border-radius: 0.2em;
  }
  
.logo a {
  text-decoration: none;
  color: var(--white);
}

  .logo, nav a {
    font-size: 1.75em;
    
    margin-left: 1em;
    line-height: 3.5em;
    height:100%;
    color: var(--white); /* white color for support and login text */
    text-decoration: none; /* remove underline */
  }
  
  .login-form-container {
    border-radius: 1em;
    display: flex;
    justify-content: center;
  }

  .login-form-container h1 {
    text-align: center;
    position: relative;
    bottom: 0.5em;
  }
  
  .login-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    border-radius: 1em;
    width: 25em;
    
    padding: 3em 2em 3em 2em;
    background-color: var(--white);
    box-shadow: 0.5em 0.5em 1em var(--darkestGrey);
  }
  
#forgot {
  font-weight: 600;
  align-self:flex-start;
  font-size: small;
  position: relative;
  right: 1em;
}

  .login-form-container input[type="email"], .login-form-container input[type="password"] {
    padding: 1em;
    width: 100%;
    margin: 1em;
    border: 1px solid var(--darkerGrey);
    border-radius: 0.5em;
  }
  
  .login-form-container button {
    background-color: var(--blue);
    color: var(--white);
    padding: 1em;
    border-radius: 0.5em;
    width: 75%;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2em;
    transition: background-color 0.1s;
  }
  
  .login-form-container a {
    color: var(--blue);
    text-decoration: none;
    
  }
  