.create-account-form {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-account-form form {
    display: flex;
    flex-direction: column;
}

.create-account-form input {
    margin-bottom: 10px;
    /*padding: 8px;
    border-radius: 4px;*/
    width: 80%;
    border: 1px solid #ccc;
}

.create-account-form .create-button, .create-account-form .cancel-button {
    /*padding: 10px;*/
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.create-account-form .create-button {
    background-color: #4CAF50;
    color: white;
}

.create-account-form .cancel-button {
    background-color: #f44336;
    color: white;
}

.create-account-form h1 {
    text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.create-account-form button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-account-form .create-button {
    background-color: #4CAF50;
    color: white;
}

.create-account-form .cancel-button {
    background-color: #f44336;
    color: white;
}