.login-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .login-header {
    width: 100%;
    background-color: #002244; /* Top header line color */
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
  }
  
  .logo, nav a {
    padding: 0 20px;
    color: white; /* white color for support and login text */
    text-decoration: none; /* remove underline */
  }
  
  .login-form-container {
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(157, 230, 20, 0.1);
    border-radius: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15%;
  }
  
  input[type="email"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
    margin-top: 10px;
  }
  