.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 20%;
    height: auto;
    background-color: #002244;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .performance-container {
    width: 80%;
    flex-grow: 1;
    background-color: #f4f4f4;
  }
  
  .performance-details {
    position: absolute;
    top:10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    height: 90%;
  }
  
  .personal-info, .graph-section, .department-performance {
    background-color: rgb(233, 227, 227);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .score {
    display: flex;
    align-items: center;
    font-size: 1.5em;
  }
  
  
  .tabs button {
    padding: 3px 3px;
    margin-right: 5px;
    background-color: #eee;
    border: none;
    color: black;
  }
  
  .tabs button:hover {
    color: black;
    background-color: #5660cd;
  }
  
  .leaderboard table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .leaderboard th, .leaderboard td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #eee;
  }
  .graph-section{
    width: auto;
    height: auto;
  }