/* Global variables, use var(--variableName) to access them */
:root {
    --backgroundColor:#FAFAFA;
    --sidebarColor: #002145;
    --darkGrey: #F6F6F6;
    --darkerGrey: #EBEBEB;
    --darkestGrey:#C9C9C9;
    --green: #D2EE98;
    --red: #E74848;
    --blue: #2563EB;
}

.main-content {
    background-color: var(--background);
}

/* sidebar stuff*/
.sidebar {
    width: 20%;
    background-color: var(--sidebarColor);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-header h1 {
    margin-bottom: 10px;
  }
  
  .sidebar-header hr {
    border: none;
    height: 2px;
    background-color: white;
  }
  
  .sidebar nav a {
    color: black;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    margin: 10px 0;
  }
  