/* Global variables, use var(--variableName) to access them */
:root {
    --backgroundColor:#FAFAFA;
    --sidebarColor: #002145;
    --darkGrey: #F6F6F6;
    --darkerGrey: #EBEBEB;
    --darkestGrey:#C9C9C9;
    --green: #D2EE98;
    --red: #E74848;
    --blue: #2563EB;
    --white: #FFFFFF;
    --black: #000000;
}

.topbar {
    display: flex;
    justify-content: end;
    height: 4em;
    background-color: var(--white);
    border-bottom: var(--darkerGrey) 2px solid;
}

.logout {
  padding: 1em 0.5em 0.5em 0.5em;
  margin: 0.25em;
  text-align: center;
  width: 6em;
  border-radius: 0.5em;
  font-weight:500;
  background-color: var(--red);
}

.logout:hover {
  cursor: pointer;
}

.container {
  flex-grow: 1;
  background-color: var(--backgroundColor);
}

.main-content {
    flex-grow: 1;
    
    padding: 2em;
    width: 80%;
}

/* sidebar stuff*/
.sidebar {
    width: 20%;
    background-color: var(--sidebarColor);
    color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-header h1 {
    margin-bottom: 10px;
  }
  
  .sidebar-header hr {
    border: none;
    height: 2px;
    background-color: var(--white);
  }
  
  .sidebar nav a {
    color: var(--black);
    background-color: var(--white);
    padding: 10px;
    text-decoration: none;
    display: block;
    margin: 10px 0;
  }
  